body {
    background-color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin: 0;
    padding: 10px;
    height: 50vh;
    text-align: center;
    box-sizing: border-box;

    border: 1px solid red;
}

p {
    color: white;
    font-size: 12px;
    float: center;
}

/* button {
    outline: none;
    background: beige;
    border: none;
    float: left;
    font-size: 12px;
} */

.hide {
    display: none;
}

.option {
    padding: 5px;
    margin: 5px;
}

.optionContainer {
    display: flex;
    flex-direction: column;
}

.timer {
    text-align: right;
}