body {
    background-color: white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topSection {
text-align: left;
}

header {
    margin: 0;
    padding: 10px;
    height: 50vh;
    text-align: center;
    box-sizing: border-box;
}

p {
    color: black;
    font-size: 12px;
    float: center;
}


h2 {
    text-align: right;
}

.hide {
    display: none;
}

.option {
    padding: 5px;
    margin: 5px;
}

.optionContainer {
    display: flex;
    flex-direction: column;
}

.timer {
    text-align: right;
}

button {
    border-radius: 25px;
    background-color:indigo;
    padding: 10px;
    height: 30px;
    color: white;
}

button:hover {
    background-color: purple;
}